# Konversi Struktur Data
Sona Regina Salsabila | Matematika

Fungsi untuk mengubah/konversi dtruktur data:

a. list()   : untuk mengubah menjadi list

b. tuple(): untuk mengubah menjadi tuple

c. set()  : untuk mengubah menjadi set

d. dict() : untuk mengubsh menjadi dictionary

##Mengkonversi tipe data list:

In [ ]:
#Membuat 2 list
l1 = [1, 2, 3, 4]
l2 = [5, 6, 7, 8]

In [ ]:
#Mengkonversi struktur data list
k_tuple = tuple(l1)
k_set = set(l2)
k_dict = dict(zip(l1, l2))
print(k_tuple)
print(k_set)
print(k_dict)

(1, 2, 3, 4)
{8, 5, 6, 7}
{1: 5, 2: 6, 3: 7, 4: 8}

##Mengkonversi tipe data tuple

In [ ]:
# membuat dua data tuple
t1 = (1, 2, 3, 4)
t2 = (5, 6, 7, 8)

In [ ]:
#Mengkonversi struktur data tuple
k_list = list(t1)
k_set = set(t2)
k_dict = dict(zip(t1, t2))
print(k_list)
print(k_set)
print(k_dict)

[1, 2, 3, 4]
{8, 5, 6, 7}
{1: 5, 2: 6, 3: 7, 4: 8}

##Mengkonversi tipe data set

In [ ]:
# membuat dua data set
s1 = {1, 2, 3, 4}
s2 = {5, 6, 7, 8}

In [ ]:
#Mengkonversi struktur data set
k_list = list(s1)
k_tuple = tuple(s2)
k_dict = dict(zip(s1, s2))
print(k_list)
print(k_tuple)
print(k_dict)

[1, 2, 3, 4]
(8, 5, 6, 7)
{1: 8, 2: 5, 3: 6, 4: 7}

##Mengkonversi tipe data dictionary

In [ ]:
# membuat dua data dictionary
D = {
    "nama": "Andy",
     "alamat": "Yogyakarta",
     "umur": 20
}

In [ ]:
#Mengkonversi struktur data tuple
k_list = list(D.keys())
k_tuple = tuple(D.values())
k_set = set(D.keys())
print(k_list)
print(k_tuple)
print(k_set)

['nama', 'alamat', 'umur']
('Andy', 'Yogyakarta', 20)
{'alamat', 'umur', 'nama'}

**Latihan**

##Mengkonversi tipe data list

In [ ]:
#Membuat 2 list
letters = ["Halo", "Matematika", "UAD", 2021]
pick = ['mangga', 45, (8j+7), False]

In [ ]:
#Mengkonversi struktur data list
k_tuple = tuple(letters)
k_set = set(pick)
k_dict = dict(zip(letters, pick))
print(k_tuple)
print(k_set)
print(k_dict)

('Halo', 'Matematika', 'UAD', 2021)
{'mangga', False, 45, (7+8j)}
{'Halo': 'mangga', 'Matematika': 45, 'UAD': (7+8j), 2021: False}

##Mengkonversi tipe data tupple

In [1]:
tup = ("matrix", 225, 0, "fondasi", True)
tup2 = (26, "bird", 11.02, False)

In [2]:
#Mengkonversi struktur data tuple
k_list = list(tup)
k_set = set(tup2)
k_dict = dict(zip(tup, tup2))
print(k_list)
print(k_set)
print(k_dict)

['matrix', 225, 0, 'fondasi', True]
{False, 26, 11.02, 'bird'}
{'matrix': 26, 225: 'bird', 0: 11.02, 'fondasi': False}

##Mengkonversi tipe data set

In [ ]:
# membuat dua data set
set1 = {1, "seratus", True, 45.9, 6+9j}
set2 = {2, "satu", 5, 0, 7+7j}

In [ ]:
#Mengkonversi struktur data set
k_list = list(set1)
k_tuple = tuple(set2)
k_dict = dict(zip(set1, set2))
print(k_list)
print(k_tuple)
print(k_dict)

[1, (6+9j), 45.9, 'seratus']
(0, 2, 5, (7+7j), 'satu')
{1: 0, (6+9j): 2, 45.9: 5, 'seratus': (7+7j)}

##Mengkonversi tipe data dictionary

In [ ]:
a = {1:1, 2:4, 3:9, 4:16, 8:64}

In [ ]:
#Mengkonversi struktur data tuple
k_list = list(a.keys())
k_tuple = tuple(a.values())
k_set = set(a.keys())
print(k_list)
print(k_tuple)
print(k_set)

[1, 2, 3, 4, 8]
(1, 4, 9, 16, 64)
{1, 2, 3, 4, 8}