# SET
Sona Regina Salsaabila | Matematika

Set adalah sekumpulan item bersifat unik dan tanpa urutan (unordered collection). Didefinisikan sebagai kurung kurawal  dan elemennya dipisahkan dengan koma. Pada Set, kita dapat melakukan union dan intersection, sekaligus otomatis melakukan penghapusan data duplikat.

In [9]:
#Contoh Set 
S1 = {1, "dua", True, 2+3j}
print(type(S1))
S1

<class 'set'>

{(2+3j), 1, 'dua'}

In [2]:
#Sifat-sifat Set

#Tidak Terurut/Unordered
print("Memanggil Set S1 dengan indeks urutan:", S1[0:3])

TypeError: ignored

In [3]:
#Tidak dapat diganti/Imumtable
S1[1] = 2
print("Set S1 setelah diganti elemenya:", S1)

TypeError: ignored

In [5]:
S1 = {1, "dua", True, 2+3j}
#Tidak Dapat diindeks/Slicing
print("Slicing Set S1:", S1[3])

TypeError: ignored

In [6]:
#Dapat Diijinkan Duplikasi
S1 = {1, "dua", True, True, 2+3j, 2+3j} #Boolean tidak terbaca atau dianggap tidak ada
print("Dupliksi pada Set S1:", S1)

Dupliksi pada Set S1: {1, 'dua', (2+3j)}

**Latihan**

In [26]:
set1 = {1, "seratus", True, 45.9, 6+9j}
print(type(set1))
set1

<class 'set'>

{(6+9j), 1, 45.9, 'seratus'}